{% extends 'main/base.html' %}
{% load my_tags %}

{% block body %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ title }}</h1>
</div>

<div class="container">
    <div class="row text-start">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <table class="table table-striped">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ product.image|mediapath }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ title }}</h5>
                                <p class="card-text">Название товара:
                                    {{product.name }}</p>
                                <p class="card-text">Описание товара:
                                    {{product.description }}</p>
                                <p class="card-text">Категория товара:
                                    {{product.category }}</p>
                                <p class="card-text">Стоимость товара:
                                    {{product.cost }}</p>
                                <p class="card-text">Дата создания:
                                    {{product.date_at }}</p>
                                <p class="card-text">Дата изменения:
                                    {{product.date_last_change }}</p>
                            </div>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}